/* CSS Reset or Normalization */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  appearance: button;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

* {
  box-sizing: border-box;
  padding: 10px; /* Double the padding */
}

/* Custom Styles */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding-top: 15px; /* Double the padding at the top */
  background-color: black;
  color: white;
  background: linear-gradient(to bottom, #000000 0%, #434343 100%); /* Background Gradient */
}

/* Container for border */
.container {
  border: 6px solid gray;
  margin: auto;
  width: 100%;
}

img {
  margin-top: 30px; /* Double the margin */
  height: auto;
  margin-bottom: 60px; /* Double the margin */
  max-width: 100%;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px; /* Double the margin */
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  input[type="text"],
  button,
  h1,
  p {
    font-size: 2em; /* Increase font size */
  }
  input[type="text"] {
    width: 100%; /* Increase width */
  }
  button {
    width: 100%; /* Increase width */
  }
  img {
    padding: 0; /* Remove padding */
  }
  div.outputLabel {
    padding: 0; /* Remove padding */
  }
}
