/* CSS Reset or Normalization */
/* ... (existing reset/normalization styles) ... */

/* Custom Styles */
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #000000;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  border: 2px solid #333;
  margin: 0 auto;
  max-width: 1200px;
  padding: 1em;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
  height: auto;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 2px 2px 4px #333;
}

input#searchInput, button {
  width: 90%;
  margin: 0.5em auto;
  padding: 1em;
  display: block;
  background-color: #ffffff;
  color: #333;
  border: 3px solid #008080;
  border-radius: 15px;
  box-sizing: border-box;
}

button {
  background-color: #008080;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover, button:focus {
  background-color: white;
  color: #008080;
  box-shadow: 0 0 10px white;
}

button:active {
  transform: scale(0.95);
}

/* Styles for the predictive items container */
#predictiveContainer {
  position: absolute;
  bottom: 100%;  /* Position it above the input field */
  width: 90%;    /* Match the width with the input field */
  left: 5%;      /* Center align with the input field */
  background-color: #f1f1f1; /* Background color for visibility */
  color: #333;   /* Text color */
  border: 1px solid #333; /* Border for the container */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2); /* Shadow for depth */
  display: none; /* Initially hidden */
  z-index: 1000; /* Ensure it's above other elements */
}

#predictiveContainer.active {
  display: block; /* Show when input is focused */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1, p, input, button {
    font-size: 1rem;
  }

  .container, input#searchInput, button {
    padding: 0.5em;
    width: 95%;
  }

  img {
    max-width: 95%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.25rem;
  }

  .container, input#searchInput, button {
    padding: 0.4em;
    width: 98%;
  }

  img {
    max-width: 98%;
  }
}
